language: ruby
bundler_args: --without documentation
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - jruby-18mode # JRuby in 1.8 mode
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-18mode
  - rbx-19mode
  - ree
  - ruby-head
before_install:
 - gem update bundler
 - bundle --version
 - gem update --system 2.1.11
 - gem --version
